DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/mydb
DATABASE_URL_SYNC=postgresql://user:password@localhost:5432/mydb
REDIS_URL=redis://localhost:6379
GROQ_API_KEY=tu_clave_aqui
LLM_MODEL=gpt-4o-mini
UMBRAL_CONFIANZA=0.8
STORAGE_DIR=./storage